<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <input type="button", id="backbutton", value="Back">
        <div class="buttonclue">
            <img src="cardinal.png" alt="Cardinal">
        </div>
        <script>
            document.getElementById('backbutton').addEventListener('click', function() {
                location.href = '/';
            });
        </script>
    </body>
</html>